.footerContainer {
  border-top: 1px solid var(--grey);
  background-color: var(--darkerGrey);
}

.socialIconsContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footerContainer svg {
  fill: var(--white);
  transform: scale(0.75);
  transition: all 0.2s;
}
.footerContainer svg:hover {
  fill: var(--grey);
}
