.headerContainer {
  border-bottom: 1px solid var(--grey);
  background-color: var(--darkerGrey);
  padding: 30px 40px;
}

.header {
  max-width: 1200px;
  margin-inline: auto;
  font-size: 1.2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo img {
  transition: all ease-out 0.5s;
}

.logo:hover img {
  transform: rotate(180deg);
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
}

.header ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  gap: 30px;
}

.header a {
  text-decoration: underline;

  text-decoration-color: transparent;
  transition: all 0.3s;
}
.header a:hover {
  text-decoration-color: white;
}
