.radioQuizTest {
  max-width: 1100px;
  margin-inline: auto;
  padding-bottom: 300px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hidden {
  display: none;
}

/* .form {
  display: flex;
  flex-direction: column;
} */

.form label {
  align-self: flex-start;
  padding-left: 20px;
}

.submitBtn {
  margin-top: 20px;
  border: transparent;
  padding: 10px 20px;
  border-radius: 24px;
  align-self: center;
}

.questionContainer,
.submitBtn,
.score,
.resultTest {
  transform: translateY(-20px);
  opacity: 0;
  transition: all 0.5s;
}

.hidden {
  display: none !important;
}

.questionContainer,
.firstQuestionContainer {
  display: flex;
  flex-direction: column;
}

.fadeIn {
  opacity: 1;
  transform: translateY(0);
}

.score,
.resultTest {
  text-align: center;
}

.score {
  font-size: 1.2rem;
  font-weight: 700;
}

.resultTest {
  transition-delay: 0.5s;
}
