.radioQuizTest {
  max-width: 1100px;
  margin-inline: auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form > div {
  display: flex;
  flex-direction: column;
}

.submitBtn {
  border: transparent;
  padding: 10px 20px;
  border-radius: 24px;
  align-self: flex-start;
}
