.radioQuizTest {
  max-width: 1100px;
  margin-inline: auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form > div {
  display: flex;
  flex-direction: column;
}

.form label {
  align-self: flex-start;
  padding-left: 20px;
}

.submitBtn {
  border: transparent;
  padding: 10px 20px;
  border-radius: 24px;
  align-self: flex-start;
}

.questionContainer,
.submitBtn,
.score,
.resultTest {
  transform: translateY(-20px);
  opacity: 0;
  transition: all 0.5s;
}

.questionContainer > div {
  display: flex;
  flex-direction: column;
}

.fadeIn {
  /* position: relative; */
  opacity: 1;
  transform: translateY(0);
}

.score {
  font-size: 1.2rem;
  font-weight: 700;
}

.resultTest {
  transition-delay: 0.5s;
}
