:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

:root {
  --white: rgba(255, 255, 255, 0.87);
  --grey: rgba(255, 255, 255, 0.705);
  --darkGrey: #28292a;
  --darkerGrey: #242424;

  background-color: #1f1f1f;
}

body {
  color: var(--white);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.bodyGlobal {
  padding: 80px 40px;
}

.test-page h1 {
  text-align: center;
}

.radioForm form {
  width: 400px;
  margin-inline: auto;
  accent-color: #1f1f1f;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.radioForm label {
  display: flex;
  gap: 5px;
}
