.footerContainer {
  border-top: 1px solid var(--grey);
  background-color: var(--darkerGrey);
  padding: 30px 40px;
}

.footer {
  max-width: 1200px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo img {
  transition: all ease-out 0.5s;
}

.logo:hover img {
  transform: rotate(180deg);
}

.title {
  font-size: 1.4rem;
  font-weight: 700;
}

.copyright {
  justify-self: center;
}

.socialIconsContainer {
  display: flex;
  align-items: center;
  gap: 10px;

  justify-self: end;
}

.footerContainer svg {
  fill: var(--white);
  transform: scale(0.75);
  transition: all 0.2s;
}
.footerContainer svg:hover {
  fill: var(--grey);
}
