.testCardContainer {
  width: 350px;
  /* height: 320px; */
  /* border: 1px solid var(--white); */
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--darkGrey);
  color: var(--white);
}

.imageContainer {
  height: 150px;
  overflow: hidden;
}

.textContainer {
  padding: 20px 30px 25px 30px;
}

.textContainer h3,
.textContainer p {
  padding-bottom: 5px;
}

.textContainer h3:hover,
.textContainer a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 325px) {
  .imageContainer {
    /* height: 100%; */
  }
}
